<?xml version="1.0"?>
<launch>
    <!-- anchor pose -->
    <arg name="x" default="1"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- anchor config-->
    <arg name="anchor_name" default="uwb_anchor"/>
    <arg name="ID" default="0"/>

    <!-- spawn anchor -->
    <node name="$(arg anchor_name)_$(arg ID)_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-sdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y) -model $(arg anchor_name)_$(arg ID) -file $(find mp_uav_landing_sim)/models/uwb_anchor/model.sdf"/>
</launch>